#main-game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

header h1 {
    font-size: 48px;
    font-weight: 700;
    margin: -10px 0;

}



#player-vs-computer {
    max-width: 1200px;
    width: 80%;
    margin-top: -64px;
    display: flex;
    justify-content: space-between;
   
    align-items: center;

}

#left, #middle, #right {
    display: flex;
    flex-direction: column;
  
   
}



#img-gesture-player, #img-gesture-computer {
    display: flex;
    flex-direction: column;
   
}

#img-gesture-player img, #img-gesture-computer img {
    width: 90px;
  
   
    
}

#img-gesture-player img:nth-child(3), 
#img-gesture-computer img:nth-child(3) {
    width: 70px;
}

#img-gesture-player img:nth-child(1) {
    transform: rotate(30deg) translate(0px, 0px);
    animation: goingInLeftRock 0.8s ease-out;
    transition: transform 300ms;
}

#img-gesture-player img:nth-child(1):hover {
    transform: rotate(30deg) translate(0, -50px);
}

#img-gesture-player img:nth-child(2) {
    transform: rotate(90deg) translate(10px, -80px);
    animation: goingInLeftPaper 1s ease-in-out;
    transition: transform 300ms;
}

#img-gesture-player img:nth-child(2):hover {
    transform: rotate(90deg) translate(10px, -130px);
}

#img-gesture-player img:nth-child(3) {
    transform: rotate(120deg) translate(0px, -10px);
    animation: goingInLeftScissor 1.2s ease-in-out;
    transition: transform 300ms;
}

#img-gesture-player img:nth-child(3):hover {
    transform: rotate(120deg) translate(0, -60px);
}

@keyframes goingInLeftRock  {
    from {
        transform: rotate(30deg) translate(-0px, 800px);
    }

    to {
        transform: rotate(30deg) translate(0px, 0px);
    }
}

@keyframes goingInLeftPaper  {
    from {
        transform: rotate(90deg) translate(10px, 600px);
    }

    to {
        transform: rotate(90deg) translate(10px, -80px);
    }
}

@keyframes goingInLeftScissor  {
    from {
        transform: rotate(120deg) translate(0px, 600px);
    }

    to {
        transform: rotate(120deg) translate(0px, -10px);
    }
}



#img-gesture-computer img:nth-child(1) {
    transform: rotate(-30deg) scaleX(-1) translate(0px, 0px);
    animation: goingInRightRock 0.8s ease-out;
   
   
}

#img-gesture-computer img:nth-child(2) {
    transform: rotate(-90deg) scaleX(-1) translate(10px, -80px) ;
    animation: goingInRightPaper 1s ease-in-out;
}

#img-gesture-computer img:nth-child(3) {
    transform: rotate(-120deg) scaleX(-1) translate(0px, -10px);
    animation: goingInRightScissor 1.2s ease-in-out;
}

@keyframes goingInRightRock  {
    from {
        transform: rotate(-30deg) scaleX(-1) translate(-0px, 800px);
    }

    to {
        transform: rotate(-30deg) scaleX(-1) translate(0px, 0px);
    }
}

@keyframes goingInRightPaper  {
    from {
        transform: rotate(-90deg) scaleX(-1) translate(10px, 600px);
    }

    to {
        transform: rotate(-90deg) scaleX(-1) translate(10px, -80px);
    }
}

@keyframes goingInRightScissor  {
    from {
        transform: rotate(-120deg) scaleX(-1) translate(0px, 600px);
    }

    to {
        transform: rotate(-120deg) scaleX(-1) translate(0px, -10px);
    }
}





#round {
    margin: 0 auto 12px;
    font-size: 32px;

}

#history-board {
    display: flex;
    justify-content: center;
    
}



#player-history, #computer-history {
    display: flex;
    flex-direction: column;
}


#player-history img, #computer-history img{
    width: 36px;
    height: auto;
    margin-bottom: 10px;
    visibility: hidden;
}

#round-winner-choice img {
    visibility: hidden;
}

#round-winner-choice {
    width: 250px;
    height: 250px;
    border: 5px solid #222;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 12px 12px;
}

#round-winner-choice h3 {
    font-size: 24px;
    visibility: hidden;
}

#choice-img-container {
    width: 117px;
    height: auto;
}


#rules {
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: center;
}

#rules h3 {
    font-weight: 600;
    font-size: 32px;
    width: 30%;
   
}

#rules h3:first-of-type {
    text-align: end;
}

#rules button {
    background-color: #222;
    width: 170px;
    height: 64px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    margin: 0 32px;
}
