 ::before::after {
    box-sizing: border-box;
} 



#primary {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    
    
    
}

#rps-heading {
    width: 80%;
    display: flex;

}

#front-heading {
   width: 80%;
   display: flex;
   flex-direction: column;
   box-sizing: content-box;
}

@media (max-width: 1220px) {
    #front-heading {
        width: 60%;
     }
     
}

@media (max-width: 1075px) {
    #front-heading {
        align-items: flex-start;
     }
     
}



#front-heading h1 {
    font-size: 10rem;
    margin: -25px 0;
    text-align: right;
    transform-origin: bottom right;
    animation-timing-function: ease-out;
    transition: transform 300ms;
}

#front-heading h1:hover {
    transform: scale(1.05);
}

#front-heading h1:nth-child(1){
    cursor: grabbing;
}

#front-heading h1:nth-child(2){
    cursor: grab;
}

#front-heading h1:nth-child(3) {
    cursor: pointer;
}


@keyframes negXTranslate {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(-80vw);
        
    }

    
}

@keyframes posXTranslate {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(50vw);
        
    }

}




#heading-icon {
    width: 100%;
    height: 255px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left;

}

#img-container {
    border: 6px solid #222;
    border-radius: 24px;
    height: 240px;
    width: 240px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}




#img-container img{
    
    transform-origin: bottom ;
    height: 60%;

   
}

@keyframes shaking {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
   
    100% {
        transform: rotate(-5deg);
    }
}

#img-container h1 {
    font-size: 10rem;
}

#btn-heading-box {
  
    width: 80%;
    display: flex;
    justify-content: center;

}

#primary button {
    width: 360px;
    height: 105px;
    border-radius: 24px;
    background-color: #222;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    border: none;
    transition: transform 300ms;
}

@keyframes shrink {
    0% {
        transform: scale(1, 1);
    }    

    75% {
        font-size: 0;
        transform: scale(0.28, 1);
        border-radius: 50%;
    }
    100% {
        transform: scale(0, 0);
        border-radius: 50%;
        font-size: 0;
        
    }
}

#primary button:hover {
    background-color: #fff;
    color: #222;
    border: 2px solid #222;
    box-shadow: 10px 10px 5px 0px rgba(2,2,2,1);
    transform: scale(1.05);
    cursor: none;
}

